<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Gọi phần head từ layout -->
<head>
    <title th:replace="layout :: title">Create Product</title>
    <th:block th:replace="layout :: head"></th:block>
</head>

<body>

<!-- Header chung -->
<div th:replace="layout :: header"></div>

<h3>Add Product</h3>

<p>
    <a th:href="@{/products}">Back to product list</a>
</p>

<div id="form">
    <form th:action="@{/products/create}" th:object="${product}"
          method="POST" novalidate="novalidate">

        <input type="hidden" th:field="*{id}"/>

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Product Name"/>
        </div>

        <div>
            <label for="price">Price</label>
            <input type="number" id="price" th:field="*{price}" placeholder="Product Price" step="0.01"/>
        </div>

        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" placeholder="Product Description"/>
        </div>

        <div>
            <label for="manufacturer">Manufacturer</label>
            <input type="text" id="manufacturer" th:field="*{manufacturer}" placeholder="Manufacturer"/>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>

<!-- Footer chung -->
<div th:replace="layout :: footer"></div>

</body>
</html>
