<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Gọi head từ layout -->
<head>
    <title th:replace="layout :: title">Edit Product</title>
    <th:block th:replace="layout :: head"></th:block>
</head>

<body>

<!-- Header -->
<div th:replace="layout :: header"></div>

<h3>Edit Product</h3>

<div id="form">
    <form th:action="@{/products/update}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" placeholder="Product Name"/>
        </div>

        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}" step="0.01" placeholder="Product Price"/>
        </div>

        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}" placeholder="Product Description"/>
        </div>

        <div>
            <label>Manufacturer</label>
            <input type="text" th:field="*{manufacturer}" placeholder="Manufacturer"/>
        </div>

        <button type="submit">Update</button>
    </form>
</div>

<a th:href="@{/products}">Back to list</a>

<!-- Footer -->
<div th:replace="layout :: footer"></div>

</body>
</html>
